<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"border":{"radius":"5px"}},"backgroundColor":"white"} -->
<main class="wp-block-group has-white-background-color has-background" style="border-radius:5px"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"},"padding":{"top":"0","bottom":"0"}}}} /-->
    
    <!-- wp:separator {"opacity":"css","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"alignwide is-style-wide"} -->
    <hr class="wp-block-separator has-css-opacity alignwide is-style-wide" style="margin-top:0;margin-bottom:0"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
    
    <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:comments {"legacy":true,"style":{"spacing":{"padding":{"top":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"}}}} /--></div>
    <!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
