<!-- wp:template-part {"slug":"header","theme":"Paweł Chabowski","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"border":{"radius":"5px"}},"backgroundColor":"white"} -->
<main class="wp-block-group has-white-background-color has-background" style="border-radius:5px"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"},"padding":{"top":"0","bottom":"0"}}}} /-->
    
    <!-- wp:separator {"opacity":"css","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"alignwide is-style-wide"} -->
    <hr class="wp-block-separator has-css-opacity alignwide is-style-wide" style="margin-top:0;margin-bottom:0"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
    
    <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:comments {"legacy":true,"style":{"spacing":{"padding":{"top":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"}}}} /--></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"aside","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"dimensions":{"minHeight":"0px"},"border":{"width":"0px","style":"none"},"layout":{"selfStretch":"fixed","flexSize":"25%"}},"backgroundColor":"contrast","layout":{"type":"constrained","wideSize":""}} -->
    <aside class="wp-block-group has-contrast-background-color has-background" style="border-style:none;border-width:0px;min-height:0px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"align":"full","style":{"border":{"radius":"5px"},"spacing":{"margin":{"top":"10px","bottom":"10px"},"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}}},"backgroundColor":"white","layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
    <div class="wp-block-group alignfull has-white-background-color has-background" style="border-radius:5px;margin-top:10px;margin-bottom:10px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:heading {"style":{"typography":{"fontSize":"1.6rem"}}} -->
    <h2 class="wp-block-heading" style="font-size:1.6rem">Popular Categories</h2>
    <!-- /wp:heading -->
    
    <!-- wp:categories {"showHierarchy":true,"showPostCounts":true,"fontSize":"small"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"full","style":{"border":{"radius":"5px"},"spacing":{"margin":{"top":"10px","bottom":"10px"},"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}}},"backgroundColor":"white","layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
    <div class="wp-block-group alignfull has-white-background-color has-background" style="border-radius:5px;margin-top:10px;margin-bottom:10px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:group {"style":{"spacing":{"blockGap":"16px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontSize":"1.6rem"}}} -->
    <h2 class="wp-block-heading" style="font-size:1.6rem">Useful Links</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"fontSize":"small"} -->
    <p class="has-small-font-size">Links I found useful and wanted to share.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:navigation {"overlayMenu":"never","layout":{"type":"flex","orientation":"vertical"},"style":{"typography":{"fontStyle":"normal","fontWeight":"400"},"spacing":{"blockGap":"var:preset|spacing|10"}},"fontSize":"small"} -->
    <!-- wp:navigation-link {"label":"Latest inflation report","url":"#","className":"is-style-arrow-link","style":{"typography":{"textDecoration":"underline"}}} /-->
    
    <!-- wp:navigation-link {"label":"Financial apps for families","url":"#","className":"is-style-arrow-link","style":{"typography":{"textDecoration":"underline"}}} /-->
    <!-- /wp:navigation --></div>
    <!-- /wp:group --></aside>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"Paweł Chabowski","tagName":"footer"} /-->